<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>New Message</title>
  <%- include('../../partials/head'); %>
</head>

<body style="background-color: white;">

  <div class="container">
    <h2> <%= `${message.sender.firstName} ${message.sender.lastName}`; %> <span style="font-weight: normal;"> sent you a
        message.</span> </h2>

    <h4><%= service.label %> - Request # <%= message.messageFor.id %> </h4>

    <div>
      <% if (message.text) { %>
      <strong> Message: </strong>
      <span><%= message.text; %> </span>
      <% } %>
      <% if (message.file && message.file.url) { %>
      <div style="margin-top: 20px;">
        <strong> File: </strong>
        <a href="<%= message.file.url; %>"><%= message.file.url; %></a>
      </div>
      <% } %>
    </div>
  </div>

</body>

</html>