<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= service.label %> Reminder
  </title>
  <%- include('../../../partials/head'); %>
</head>

<body style="background-color: white;">
  <div class="container">
    <p>
      <%- include('../../../partials/greet', { user: appointment.appointee }); %>
    </p>
    <p>
      <%= service.reminderMailTemplatesData.twoWeeksBefore.info %>
        <strong>
          <%= moment(appointment.startTime).format('LL') %>
        </strong>!
    </p>
    <div>See appointment details, here:</div>
    <%- include('../../../partials/appointmentDetails', { appointment }); %>
      <p>
        Hope your week is going well. Again, if you have any questions,
        you can reply to this email and/or call us here:
        <strong>
          <%= appointment.appointer.phoneNumber %>
        </strong>.
      </p>
      <br />
      <br />
      <%- include('../../../partials/regards', { user: appointment.appointer }); %>
  </div>

</body>

</html>